.container {
  max-width: 1024px;
  padding: 16px 32px 32px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.domains-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 16px;
}

.domain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.like-button {
  display: flex;
  margin-top: 5px;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  padding: 4px 8px;
}

.heart-icon {
  height: 20px;
  width: 20px;
  color: red;
}

.likes-number {
  margin-top: 2px;
}

.pagination-footer {
  margin-top: auto;
}

.pagination-footer-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.pagination-page-link {
  padding: 4px 8px;
  cursor: pointer;
  background-color: #efefef;
  border: 1px solid rgb(118, 118, 118);
  color: #333;
}

.pagination-page-link:hover {
  background-color: #dbdbdb;
}

.login-dialog {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-dialog h2 {
  margin: 0;
}

.login-dialog-overlay {
  background-color: rgba(219, 219, 219, 0.75);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.login-dialog-content {
  background-color: white;
  position: relative;
  max-width: 420px;
  padding: 16px;
  width: 100%;
}

.login-dialog input {
  padding: 4px;
}

.login-dialog button[type="submit"] {
  padding: 4px;
  cursor: pointer;
}
